@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway:700');

h1, h2, h3 {
   font-family: 'Raleway', sans-serif;
}
p {
   font-family: 'Open Sans', sans-serif;
}
body {
   width: 62.8%;
   margin: 0 auto 0 auto;
}
