/*font-family:"Avenir-Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;*/
body {
   background-color: black;
   margin: 0;

}

a:link {
   text-decoration: none;
}

/*a:hover {
   text-decoration: underline;
}*/

/***** HEADER *****/

header {
   float: left;
   z-index: 2;
   position: fixed;
   background-color: green;
   height: 100%;
   color: white;
   padding-left: 10px;
   padding-right: 10px;

   transition: opacity 0.25s ease-in-out;
   opacity: 0.0;
}

header:hover {
   opacity: 1.0;
}

#menuwrapper { }

header div div {
   margin-bottom: 3px;
}

header div div a {
   color: white;
   vertical-align: middle;
   font-size: 20px;
   margin-bottom: 5px;
   display: inline-block;
   width: 50px;


}

header img {
   height: 20px;
   margin-right: 10px;
   margin-bottom: 5px;
   vertical-align: middle;
   background-image: url("images/hollow_circle.png"); /* HIER WEITERMACHEN */
}
