/*font-family:"Avenir-Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Raleway:200');
@import url("./anim.css");

body {
   background-color: rgb(7, 7, 7);
   margin: 0;
   color: white;

   border: 2px dashed green;
}

a:link {
   text-decoration: none;
}

/*a:hover {
   text-decoration: underline;
}*/

/***** HEADER *****/

header {
   float: left;
   z-index: 2;
   position: fixed;
   background-color: none;
   height: 100%;
   color: white;
   padding-left: 10px;
   padding-right: 10px;

   transition: opacity 0.25s ease-in-out;
}

#weather {
   height: 22px;
   margin-top: 10px;
}

#weather img {
   height: 22px;
   margin-right: 5px;
}

#weather p {
   font-size: 15px;
   font-family: sans-serif;
   float: right;
   width: 100px;
   display: inline-block;
   margin-top: 2px;
}

#menuwrapper {

   font-size: 15px;
}

#menuwrapper div {
   margin-top: 5px;
   border: 1px dashed red;
}

#menuwrapper div:first-child {
   margin-top: 0;
}

#menuwrapper div a.unshown {
   vertical-align: middle;
   display: inline-block;

   opacity: 0.0;
   animation-name: unshown;
   animation-duration: 0.6s;
}

@keyframes unshown {
   from {
      opacity: 1.0;
   } to {
      opacity: 0.0;
   }
}

/* animation class added via JS*/
#menuwrapper div a.shown {
   vertical-align: middle;
   display: inline-block;

   opacity: 1.0;
   animation-name: shown;
   animation-duration: 0.5s;
}

@keyframes shown {
   from {
      opacity: 0.0;
   } to {
      opacity: 1.0;
   }
}

#menuwrapper img {
   height: 18px;
   margin-right: 10px;
   vertical-align: middle;
}



/***** START *****/

#sketch-holder {
   border: 1px white dashed;
}


/***** CONTACT *****/

#contact {
   background-color: red;
   width: 100%;
   overflow: hidden;

   font-family: 'Raleway', sans-serif;
   clear: both;
}

/*#contact * {
      border: 1px dashed white;
}*/

/* email form on the right side */
#contactForm {
   background-color: #7b9e87;
   float: right;
   display: inline-block;
   margin-right: 120px;
   width: calc(61% - 120px);
}

#contactForm form {
   display: block;
   vertical-align: center;
   margin: 0 auto 0 auto;
   float: none;
   text-align: center;
}

#contactForm form p {
   margin: 0px 0px 15px 0px;
}

.formHeading {
   font-size: 10px;
   display: block;
   margin: 0;
   padding: 0;
   text-align: left;
   width: 61.8%;
   align: center;
   margin-left: auto;
   margin-right: auto;
}

#contactForm form input {
   width: 61.8%;
   height: 25px;
   margin: 0;
   border: none;
   background-color: #b6be9c;
   border-radius: 4px;

}

#contactForm form input:focus {
   background-color: green;
   animation-name: writing;
   animation-duration: 0.5s;
}

@keyframes writing {
   from {
      background-color: #b6be9c;
   } to {
      background-color: green;
   }
}

#contactForm form:first-of-type div {
   /*background-color: green;*/
   width: 61.8%;
   margin-left: auto;
   margin-right: auto;
   margin-top: 0;
}

#contactForm form:first-of-type div.twoinrow {
   /*background-color: pink;*/
   height: 10px;
   width: 49%;
   height: 45px;
   display: inline-block;
   margin: 0px 0px 12px 0px;
}

#contactForm form:first-of-type div.twoinrow:first-child {
   float: left;
   text-align: left;
}

#contactForm form:first-of-type div.twoinrow:last-child {
   float: right;
}

#contactForm form:first-of-type div.twoinrow input {
   display: block;
   width: 100%;
   margin: 0;
}

.twoinrow h3 {
   width: 100%;
}

/* textarea of form */
#message {
   resize: none;
   background-color: #b6be9c;
   border-radius: 4px;
   width: 61.8%;
   height: 150px;
   font-family: 'Raleway', sans-serif;
   border: none;
}

#message:focus {
   background-color: green;
   animation-name: writing;
   animation-duration: 0.5s;
}


/* submit and reset buttons */
#contactForm form p:last-of-type {
   margin-bottom: 40px;
   color: white;
   margin-top: 20px;

}

#submit {
   display: inline;
   color: black;
   height: 100px;
}


#contactOther {
   color: red;
   background-color: blue;
   float: left;
   display: inline-block;
   margin-left: 120px;
   width: calc(38% - 120px);
}

#contactOther div img {
   height: 50px;
}

/*#contactOther:first-child {
   background-color: orange;
}

#contactOther:last-child {
   background-color: pink;
}*/

/*.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: red;
}
.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}*/


/***** SKILLS *****/

#skills {
   clear: both;


   background-color: #d6fc28;
}


#skills div {
   width: 61.8%;

   margin-left: auto;
   margin-right: auto;
}


.sliderWrapper {

   margin-top: 20px;

   background-color: #114536;
}

#skills div:last-child {
   margin-bottom: 15px;
}


.slider {
   display: inline-block;

   margin: 0 auto 0 auto;

   background-color: #594b1a;
}


.slide {
  width: 50px;
  height: 50px;

  background-color: grey;

  margin: 0 auto 0 auto;
}

.slideShown {
   display: inline-block;
}

.notShown {
   display: none;
}

.slideIn {
   animation: slideIn 0.5s;
}

.slideOut {
   animation: slideOut 0.5s;
}

.arrow {
   height: 25px;

   vertical-align: bottom;
   margin-left: -15.5px;
   margin-bottom: -15.5px;

   cursor: pointer;
}

.arrow:hover {
   background-color: red;
}

.progress {
   display: block;
   float: left;

   height: 7px;
   width: 100%;

   background-color: darkred;
   border-top-right-radius: 4px;
   border-top-left-radius: 4px;
}

.progress div {
   display: block;
   float: left;

   height: 7px;
   width: 50%;

   background-color: darkblue;
   border-top-right-radius: 4px;
   border-top-left-radius: 4px;
}


@keyframes slideIn {
   from {
      opacity: 0; 
   } to {
      opacity: 1;
   }
}

@keyframes slideOut {
   from {
      opacity : 1;
   } to {
      opacity: 0;
   }
}
